<a href="https://colab.research.google.com/github/jayantc14/News-Classification/blob/main/FakenewsKNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import scale

import xgboost as xgb
from xgboost import XGBClassifier
from xgboost import plot_importance
import gc # for deleting unused variables
%matplotlib inline

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/IIM/data")

In [ ]:
df.drop(['Unnamed: 0'],axis = 1,inplace  = True)

In [ ]:
df

       Analytic  Authentic   Tone  ...  focusfuture  FREScore  target
0         97.02      22.27  35.07  ...         2.00     42.04       1
1         96.86      13.98  49.52  ...         2.07     32.57       1
2         94.73      16.26  29.43  ...         1.97     39.91       1
3         96.40      12.12  55.62  ...         0.53     45.49       1
4         96.29      22.73  15.88  ...         0.23     50.80       1
...         ...        ...    ...  ...          ...       ...     ...
44873     96.34      16.74  46.26  ...         0.37     22.35       0
44874     94.03      14.89  56.75  ...         0.98     51.41       0
44875     90.88      33.24  22.15  ...         1.52     28.24       0
44876     91.99      25.14  49.16  ...         0.84     27.16       0
44877     95.49      21.45  10.28  ...         1.46     48.88       0

[44878 rows x 20 columns]

In [ ]:
y = df['target']

In [ ]:
X = df.drop(['target'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
def normalize (x): 
    return ( (x-np.min(x))/ (max(x) - min(x)))
                                            
                                              
# applying normalize ( ) to all columns 
X = X.apply(normalize)

In [ ]:
# scaling the features
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#X = scaler.fit_transform(X)

In [ ]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=100)

In [ ]:
# scaling the features
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#X_train_scaled = scaler.fit_transform(X_train)
#X_test_scaled = scaler.transform(X_test)

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(31414, 19)
(31414,)
(13464, 19)
(13464,)

In [ ]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=7)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [ ]:
# fit model on training data with default hyperparameters

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8353386809269162

In [ ]:
print(metrics.confusion_matrix(y_test, y_pred))

[[5730 1327]
 [ 890 5517]]

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.81      0.84      7057
           1       0.81      0.86      0.83      6407

    accuracy                           0.84     13464
   macro avg       0.84      0.84      0.84     13464
weighted avg       0.84      0.84      0.84     13464

## **Changing  K**

In [ ]:
knn = KNeighborsClassifier(n_neighbors=9)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [ ]:
# fit model on training data with default hyperparameters

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.839572192513369

In [ ]:
knn = KNeighborsClassifier(n_neighbors=17)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [ ]:
# fit model on training data with default hyperparameters

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8401663695781343

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.80      0.84      7057
           1       0.80      0.88      0.84      6407

    accuracy                           0.84     13464
   macro avg       0.84      0.84      0.84     13464
weighted avg       0.84      0.84      0.84     13464